body{
	background-color: black;
	text-align: center;
}

h1 {
	margin-top: 0;
	font-family: 'Caveat', cursive;
	font-size: 5.62rem; /*16px = 100% = 1em*/
	color: #66BFBF;
	line-height: 2;
}

h2 {
	font-size: 2.5rem; /*16px = 100% = 1em*/
	color: #66BFBF;
	font-weight: normal;
}

h3 {
	color: #11999E;
}

a {
	color: #11999E;
}

p{
	color: white;
}

.top-cloud {
	position: absolute;
	right: 18.7rem;
	top: 3.125rem;
}

.bot-cloud {
	position: absolute;
	left: 18.7rem;
	bottom: 18.7rem;
}

.top-container {
	background-color: red;
	position: relative;
	padding: 6.25rem; 
}

.middle-container {
}

.bot-container {
}

.pro{
	text-decoration: underline;
}


