/*#region Root*/
/*TODO review root*/
:root {
    --text-section-max-width: 640px;
    --base-pixel-size: 12px;
    --base-rem-size: 0.75rem;
    --half-rem-size: calc(var(--base-rem-size) / 2);
    --twice-rem-size: calc(var(--base-rem-size) * 2);
    --section-margin-bottom: calc(var(--base-rem-size) * 4);
    --header-height: 250px;
    --breadcrumbs-height: calc(var(--base-pixel-size) * 3.5);
    --max-width: 1920px;
    --color-h: #fff;
    --body-color: #e8e8e8;
    --background-color: #0b0b0b;
    --card-background-color: #000;
    --privacy-banner-height: 0px;
    --image-rounding-static: 16px;
    --image-rounding-static-sm: 8px;
    --image-rounding-static-xs: 4px;
    --grid-gap-static-xs: 0.5rem;
    --grid-gap-static-sm: 1rem;
    --grid-gap-static-md: 2rem;
    --grid-gap-static-lg: 4rem;
    --grid-gap-static-xl: 8rem;
    --max-width-static: 640px;
    --max-width-static-md: 1088px;
    --max-width-static-lg: 1920px;
    --max-width-static-xl: 2560px;
    --margin-static: 0 0 2rem;
    --h2-margin: 2rem 0 0 0;
    --padding-sides: var(--grid-gap-static-lg);
    --padding-top-bottom: var(--padding-sides);
    --padding-static: var(--padding-sides);
    --font-size-1: 0.64rem;
    --font-size-2: 0.8rem;
    --font-size-3: 1rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.563rem;
    --font-size-6: 1.953rem;
    --font-size-7: 2.441rem;
    --font-size-8: 3.052rem;
    --font-size-9: 3.815rem;
    --font-size-10: 4.768rem;
    --font-family-std: var(--rsg-font-family-std);
    --font-family-h: var(--rsg-font-family-h);
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color,transparent);
    font-family: var(--font-family-std,HelveticaNowText);
    font-size: calc(var(--root-font-size) * 1px);
    font-weight: var(--font-weight-std,400);
}

    :root * {
        box-sizing: border-box;
    }

    :root a {
        color: inherit;
        text-decoration: none;
    }
/*#endregion Root*/

/*#region Tag Selectors*/
body {
    background-color: black;
    margin: 0;
}

h1 {
    color: white;
}

p {
    color: white;
}

div {
    display: block;
}

nav {
    display: block;
}

/*#endregion Tag Selectors*/

/*#region Header Section */

.header {
    align-items: stretch;
    border: none;
    color: #fff;
    display: grid; /*Sets grid for header bar*/
    grid-template-columns: 1fr 1fr 1fr; /*Sets grid for header bar*/
    grid-template-rows: 100%; /*Sets grid for header bar*/
    height: var(--header-height);
    justify-content: space-between;
    padding: var(--base-pixel-size) var(--padding-sides); /*Creates centre placement for menu bar*/
    top: var(--privacy-banner-height);
    transform: translateY(0); /*Requred to make the header slide away*/
    transition: transform .3s; /*Transition Time for header to slide away*/
    width: 100%;
    z-index: 250;
}

/*#region Central Logo */

.header-logo a {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 500px;
}

    .header-logo a .logo {
        background-image: url(../images/ShonanLogo.png);
    }

    .header-logo a .headpos, .header-logo a .logo {
        background-position: 50%;
        background-repeat: no-repeat; /*Stops img repeating*/
        background-size: contain; /*Shrinks img to box*/
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .3s;
        width: 500px;
    }

        .header-logo a .logo.headpos {
            opacity: 1;
        }

/*#endregion */

/*#region Translator */

.translator {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}

#google_translator {
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    width: fit-content; /* Adjust width */
}

.goog-te-gadget {
    font-family: Arial, sans-serif; /* Change font */
    font-size: 14px; /* Change font size */
    color: #333; /* Change text color */
}

    .goog-te-gadget .goog-te-combo {
        border: 1px solid #ccc; /* Change dropdown border */
        border-radius: 3px; /* Add rounded corners to dropdown */
        padding: 5px; /* Add padding to dropdown */
        background-color: #fff; /* Change dropdown background color */
        color: #333; /* Change dropdown text color */
    }

/*#endregion */

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
}

/*#endregion */

/*#region MainSection */

.mainSection {
    background: var(--card-background-color);
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 700px;
}

#description {
    width: 51%; /* Half width for the description */
    height: 100%; /* Full height to match the carousel */
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background for visibility */
    color: white; /* Text color for contrast */
    padding: 20px; /* Space around the text */
    display: flex; /* Flexbox for vertical centering */
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center items vertically */
}

#description-header {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#description-paragraph {
    font-size: 16px;
    color: #555;
    text-align: Center;
}

/*#region Carousel Container */

.carorow {
    display: flex; /* Enable flexbox layout */
    width: 100%; /* Ensure the row takes full width */
    height: 100%; /* Set the desired height for the carousel */
}

#carousel-inner {
    transition: transform 0.5s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}

.caro {
    flex: 0 0 100%; /* Each item takes up 100% of the inner container */
    height: 100%; /* Ensure full height */
}

.caroClass {
    width: 100%;
    height: 100%; /* Match container height */
    background-size: cover; /* Cover to fill the area */
    background-repeat: no-repeat;
    background-position: center;
}

/*#endregion */

.caroButtons {
    display: flex;
    justify-content: space-evenly;
}

    .caroButtons button {
        background: hsla(0,0%,100%,.4);
        border: none;
        border-radius: 10%;
        cursor: pointer;
        height: 30%;
        max-width: 4rem;
        outline: none;
        padding: 0;
        transition: background .3s;
        width: 100%;
    }

        .caroButtons button:not(:last-child) {
            margin-right: var(--grid-gap-static-xs);
        }

.button:hover {
    background-color: #0056b3;
}

.button.Selected {
    background: #fff;
}

#button-container {
    height: 5%;
    display: flex; /* Ensure buttons are displayed inline */
    justify-content: space-evenly; /* Center the buttons */
    align-items: center; /* Center the buttons vertically */
    position: absolute; /* Position the container absolutely */
    bottom: 0; /* Align it to the bottom of the parent container */
    width: 100%; /* Ensure it takes the full width of the parent */
}

/*#endregion */

/*#region About Services */

.aboutSection {
    background: var(--card-background-color);
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 700px;
}

.about {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: flex-start; /* Align header to the top left */
    padding: 20px; /* Optional padding for spacing */
    margin-top: 30px; /* Optional margin for spacing */
    border-top: 2px solid white; /* Add a solid white line at the top */
    border-bottom: 2px solid white; /* Add a solid white line at the top */
}

.aboutheader {
    margin: 0; /* Remove default margin */
    height: auto; /* Ensure the section takes full height */
    width: auto;
}

.paragraph {
    text-align: center; /* Center-align the text */
    width: 100%; /* Ensure the paragraph takes full width */
    align-self: stretch;
    margin-top: 10px; /* Optional margin for spacing */
}


/*#endregion */

/*#region Services */

.servicesheader {
    margin: 0; /* Remove default margin */
    text-align: center;
    padding-right: 2%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

/*#endregion */

/*#region ContactSection */

.contactSection {
    border-top: 2px solid white; /* Add a solid white line at the top */
}

/*#endregion */

/*#region FooterSection */

footer.footerBot {
    gap: var(--grid-gap-static-lg);
    background: var(--card-background-color);
    color: var(--body-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: var(--padding-top-bottom) var(--padding-sides);
}

    footer.footerBot div {
        flex-basis: 55%;
    }

    footer.footerBot .socials {
        justify-content: flex-end;
    }

/*#region Socials */

.socials {
    gap: var(--grid-gap-static-md);
    display: flex;
}

    .socials .a4 {
        background-image: url(../images/twitch.png);
    }

    .socials .a5 {
        background-image: url(../images/twitter.png);
    }

    .socials .a6 {
        background-image: url(../images/youtube.png);
    }

    .socials .a7 {
        background-image: url(../images/facebook.png);
    }

    .socials .a8 {
        background-image: url(../images/instagram.png);
    }

    .socials a {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        height: calc(var(--base-pixel-size) * 2);
        width: calc(var(--base-pixel-size) * 2);
    }

/*#endregion */


/*#endregion */
